.header {
    margin: 19px 0 26px 0;

    &.show {
        margin: 0;
        padding: 19px var(--section-margin) 26px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: $primary-color;
    }
}

.header.show .navbar {
    &-toggler {
        display: block;

        &-icon {
            background: transparent;

            &:before {
                bottom: 0;
                transform: rotate(45deg);
            }

            &:after {
                top: 0;
                transform: rotate(-45deg);
            }
        }
    }
    &-menu {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin: 0;
        margin-top: 60px;
        border-bottom: 1px solid $secondary-color;

        &--right {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            margin: 38px 0 0 0;

            & .phone {
                order: 1;
                margin: 38px 0 0 0;
            }

            & .language {
                order: 2;
                margin: 34px 0 0 0;
            }

            & .btn {
                margin: 0 0 0 0;
            }
        }

        &__item {
            margin: 0;
            margin: 0 0 40px 0;
        }

        &__link {
            font-size: 36px;
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &-toggler {
        display: none;
        border: none;
        background: none;
        width: 30px;
        height: 30px;

        &-icon {
            display: block;
            background: $color-white;
            width: 30px;
            border-radius: 5px;
            height: 2px;
            position: relative;

            &:before {
                content: "";
                background: $color-white;
                width: 30px;
                border-radius: 5px;
                height: 2px;
                bottom: 8px;
                left: 0;
                position: absolute;
                transition: transform .5s;
            }

            &::after {
                content: "";
                background: $color-white;
                width: 30px;
                border-radius: 5px;
                height: 2px;
                top: 8px;
                left: 0;
                position: absolute;
                transition: transform .5s;
            }
        }
    }
    
    &-brand {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 13px 0 13px 15px;
        border-left: 2px solid $secondary-color;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            border-top: 2px solid $secondary-color;
            width: 40px;
            content: "";
        }
    
        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid $secondary-color;
            width: 40px;
            content: "";
        }
        
        &__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
        }

        &__subtitle {
            font-family: "Work Sans";
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            opacity: 0.6;
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 150px;
        margin-right: auto;

        &__item {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            color: $color-white;
            text-decoration: none;
            transition: color .5s;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;

            &:hover {
                color: $secondary-color;
            }
        }
    }

    &-menu--right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        & .btn {
            margin-right: 120px;
        }
    }
}

.dropdown {
    position: relative;

    &.show {
        .dropdown {
            &-menu {
                display: block;
            }

            &-btn {
                transform: rotate(180deg);
            }
        }
    }

    &-menu {
        display: none;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        transform: translateY(25px);
        animation: dropdown .5s;
        border: 1px solid #979797;
        background: $primary-color;
        width: 247px;
    }

    &-btn {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid $color-white;
        transition: transform .5s;
        vertical-align: middle;
    }

    &-item {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        transition: background .1s;

        &:hover {
            background: $secondary-color;

            .dropdown-link {
                color: $primary-color;
            }
        }
    }

    &-link {
        color: $color-white;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        transition: color .1s;
    }
}

.language {
    margin-right: 50px;

    &-item {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
        transition: color .5s;
        margin-right: 8px;
    
        &:last-child {
            margin-right: 0;
        }
    
        &:hover {
            color: $secondary-color;
        }
    }
}

.phone {
    color: $color-white;
    text-decoration: none;
    transition: color .5s;

    &:hover {
        color: $secondary-color;
    }
}