*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: $primary-color;
    color: $color-white;
    margin: 0 var(--section-margin);
    font-family: "Gilroy";
}

body:has(.modal.show) {
    overflow: hidden;
}

body:has(.header.show) {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1802px;
    margin: 0 auto;
}

.btn {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    padding: 12px 13px;
    border: none;
    transition: color .5s;
    cursor: pointer;

    &-primary {
        background: $secondary-color;

        &:hover {
            color: $color-white;
        }
    }
}

.modal {
    display: none;
    background: rgba(39, 39, 39, 0.9);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.show {
        display: block;
    }

    &-close {
        position: absolute;
        top: -30px;
        right: -74px;
        width: 30px;
        height: 30px;

        &:before {
            content: "";
            position: absolute;
            top: 14px;
            left: 0;
            width: 30px;
            height: 2px;
            transform: rotate(45deg);
            background: $secondary-color;
        }

        &:after {
            content: "";
            position: absolute;
            top: 14px;
            left: 0;
            width: 30px;
            height: 2px;
            transform: rotate(-45deg);
            background: $secondary-color;
        }
    }

    &-dialog {
        background: $color-white;
        color: $color-black;
        padding: 67px 140px 44px 140px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: modalAnimation 1s;
    }

    &-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    &-subtitle {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 47px;
    }

    &-input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: none;
        padding-bottom: 15px;
        border-bottom: 1px solid #929292;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-black;
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.first-screen {
    position: relative;
    height: 971px;

    & .owl-prev.disabled, .owl-next.disabled {
        opacity: 0.5;
    }

    &__slide {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 971px;
    }

    &__dots {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;
        background: $primary-color;
        display: flex;
        padding: 70px 38px 45px 60px;

        & .owl-dot {
            margin-right: 171px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__number {
        margin-right: 37px;
        font-weight: 700;
        font-size: 60px;
        line-height: 24px;
    }
    
    &__description {
        width: 116px;
        font-family: "Work Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }

    &__nav {
        position: absolute;
        bottom: 36px;
        left: 470px;
        z-index: 5;

        & button {
            background: transparent;
            border: none;
            color: $color-white;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            padding-right: 19px;
            margin-right: 21px;
            border-right: 1px solid $color-white;
            text-transform: uppercase;

            &:last-child {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
        };
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
        border-left: 2px solid $secondary-color;
        min-height: 383px;
        padding: 44px 0 51px 28px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            border-top: 2px solid $secondary-color;
            width: 124px;
            content: "";
        }

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 2px solid $secondary-color;
            width: 124px;
            content: "";
        }
    }

    &__subtitle {
        font-family: "Work Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__title {
        font-family: "Space Grotesk";
        max-width: 714px;
        font-weight: 700;
        font-size: 96px;
        line-height: 100px;
        text-transform: capitalize;
        margin-bottom: 50px;

        & span {
            color: $secondary-color;
        }
    }

    &__btn {
        color: $color-white;
        border: none;
        background: none;
        font-family: "Work Sans";
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        position: relative;

        &:hover:after {
            right: -30px;
        }

        &:after {
            content: "";
            width: 20px;
            height: 20px;
            display: inline-block;
            border: 1px solid $color-white;
            border-right-style: none;
            border-bottom-style: none;
            transform: rotate(135deg);
            position: absolute;
            top: 3px;
            right: -20px;
            transition: right .3s;
        }
    }

    &__social {
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            &:hover .fill {
                fill: #d6caca;
            }
        }
    }
}

.owl-dot.active .first-screen__number {
    color: $secondary-color;
}