@media (max-width: 1880px){
    .first-screen {
        &__nav {
            left: 30px;
        }
    }
}

@media (max-width: 1400px){
    .first-screen {
        &__dots {
            & .owl-dot {
                margin-right: 50px;
            }
        }
    }

    .navbar {
        &-menu {
            margin-left: 30px;

            &__item {
                margin-right: 20px;
            }

            &--right {
                & .btn {
                    margin-right: 20px;
                }
            }
        }
    }

    .language {
        margin-right: 20px;
    }
}

@media (max-width: 1200px){
    .first-screen {
        &__title {
            font-size: 70px;
            max-width: 600px;
        }

        &__dots {
            & .owl-dot {
                margin-right: 20px;
            }
        }

        &__number {
            margin-right: 15px;
            font-size: 50px;
        }
    }
}

@media (max-width: 991px){
    :root {
        --section-margin: 38px;
    }

    .navbar {
        &-toggler {
            display: block;
        }

        &-menu {
            display: none;

            &--right {
                display: none;
            }
        }
    }
}