@media (max-width: 1880px){
    .first-screen {
        &__nav {
            left: 30px;
        }
    }
}

@media (max-width: 1400px){
    .first-screen {
        &__dots {
            & .owl-dot {
                margin-right: 50px;
            }
        }
    }

    .navbar {
        &-menu {
            margin-left: 30px;

            &__item {
                margin-right: 20px;
            }

            &--right {
                & .btn {
                    margin-right: 20px;
                }
            }
        }
    }

    .language {
        margin-right: 20px;
    }
}

@media (max-width: 1200px){
    .first-screen {
        &__title {
            font-size: 70px;
            max-width: 600px;
        }

        &__dots {
            & .owl-dot {
                margin-right: 20px;
            }
        }

        &__number {
            margin-right: 15px;
            font-size: 50px;
        }
    }
}

@media (max-width: 991px){
    :root {
        --section-margin: 38px;
    }

    .navbar {
        &-toggler {
            display: block;
        }

        &-menu {
            display: none;

            &--right {
                display: none;
            }
        }
    }

    .first-screen {
        height: 372px;

        &__slide {
            height: 372px;
        }

        &__description {
            width: 87px;
            font-size: 12px;
            line-height: 14px;
        }

        &__dots {
            padding: 20px 11px 11px 30px;
        }

        &__number {
            font-size: 40px;
        }

        &__nav {
            bottom: 25px;
            left: 25px;

            & button {
                font-size: 15px;
            }
        }

        &__content {
            border-width: 4px;
            padding: 20px 0 16px 25px;

            &:before, &:after {
                border-width: 4px;
            }
        }

        &__subtitle {
            font-size: 13px;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 50px;
            max-width: 370px;
            line-height: 47px;
            margin-bottom: 10px;
        }

        &__btn {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px){
    .first-screen {
        &__dots {
            position: static;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $secondary-color;
        }

        &__title {
            font-size: 43px;
        }

        &__dots {
            padding: 20px 0;
        }
    }
}

@media (max-width: 576px){
    :root {
        --section-margin: 20px;
    }

    .first-screen {
        &__dots {
            & .owl-dot {
                display: flex;
                flex-direction: column;
            }
        }

        &__number {
            align-self: flex-start;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}