<div class="first-screen">
    <div class="owl-carousel">
        <div data-dot='<span class="first-screen__number">01</span><p class="first-screen__description">Lorem Ipsum Dolorem apset</p>' class="first-screen__slide" style="background-image: url('assets/images/first-screen1.png');"></div>
        <div data-dot='<span class="first-screen__number">02</span><p class="first-screen__description">Lorem Ipsum Dolorem apset</p>' class="first-screen__slide" style="background-image: url('assets/images/first-screen1.png');"></div>
        <div data-dot='<span class="first-screen__number">03</span><p class="first-screen__description">Lorem Ipsum Dolorem apset</p>' class="first-screen__slide" style="background-image: url('assets/images/first-screen1.png');"></div>
    </div>
    <div class="first-screen__nav"></div>
    <div class="first-screen__dots"></div>
</div>