</main>

    <script src="assets/js/app.js"></script>

    <div class="modal" tabindex="-1" id="consultation">
        <div class="modal-dialog">
            <span class="modal-close"></span>
            <p class="modal-title">Leave your contacts</p>
            <p class="modal-subtitle">we will contact you within three hours</p>

            <form class="modal-form" action="#">
                <input class="modal-input" placeholder="Name" type="text" name="username">
                <input class="modal-input" placeholder="Phone" type="text" name="phone">
                <button class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</body>
</html>