<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <span class="navbar-brand__title">DubaiRealty</span>
                <span class="navbar-brand__subtitle">Real Estate</span>
            </div>
            <ul class="navbar-menu">
                <li class="navbar-menu__item">
                    <div class="dropdown">
                        <a href="#" class="navbar-menu__link dropdown-btn">Buy</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Category number one</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Apartments in Dubai</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Category number twenty five</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu__item">
                    <div class="dropdown">
                        <a href="#" class="navbar-menu__link dropdown-btn">Blog</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Lorem</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Lorem, ipsum.</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="#" class="dropdown-link">Lorem, ipsum dolor.</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu__item">
                    <a href="#" class="navbar-menu__link">About</a>
                </li>
                <li class="navbar-menu__item">
                    <a href="#" class="navbar-menu__link">Contact</a>
                </li>
            </ul>
            <div class="navbar-menu--right">
                <button class="btn btn-primary" onclick='modalShow("#consultation");'>Book a consultation</button>
                <div>
                    <a class="language" href="#">EN</a>
                    <a class="language" href="#">RU</a>
                </div>
                <a class="phone" href="tel:+72126742510">+7 (212) 674-25-10</a>
            </div>
        </div>
    </div>
</header>
<main>