:root {
  --section-margin: 60px;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@keyframes dropdown {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(25px);
  }
}
@keyframes modalAnimation {
  from {
    transform: translate(-50%, -70%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: #272727;
  color: #fff;
  margin: 0 var(--section-margin);
  font-family: "Gilroy";
}

body:has(.modal.show) {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1802px;
  margin: 0 auto;
}

.btn {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  padding: 12px 13px;
  border: none;
}
.btn-primary {
  background: #FCD54C;
}

.modal {
  display: none;
  background: rgba(39, 39, 39, 0.9);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal.show {
  display: block;
}
.modal-close {
  position: absolute;
  top: -30px;
  right: -74px;
  width: 30px;
  height: 30px;
}
.modal-close:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 30px;
  height: 2px;
  transform: rotate(45deg);
  background: #FCD54C;
}
.modal-close:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 30px;
  height: 2px;
  transform: rotate(-45deg);
  background: #FCD54C;
}
.modal-dialog {
  background: #fff;
  color: #000;
  padding: 67px 140px 44px 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: modalAnimation 1s;
}
.modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.modal-subtitle {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 47px;
}
.modal-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #929292;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.modal-input:focus {
  outline: none;
}
.modal-input::placeholder {
  color: #000;
}
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-screen {
  position: relative;
  height: 971px;
}
.first-screen .owl-prev.disabled, .first-screen .owl-next.disabled {
  opacity: 0.5;
}
.first-screen__slide {
  background-repeat: no-repeat;
  min-height: 971px;
}
.first-screen__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: #272727;
  display: flex;
  padding: 70px 38px 45px 60px;
}
.first-screen__dots .owl-dot {
  margin-right: 171px;
  display: flex;
  align-items: center;
}
.first-screen__dots .owl-dot:last-child {
  margin-right: 0;
}
.first-screen__number {
  margin-right: 37px;
  font-weight: 700;
  font-size: 60px;
  line-height: 24px;
}
.first-screen__description {
  width: 116px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.first-screen__nav {
  position: absolute;
  bottom: 36px;
  left: 470px;
  z-index: 5;
}
.first-screen__nav button {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-right: 19px;
  margin-right: 21px;
  border-right: 1px solid #fff;
  text-transform: uppercase;
}
.first-screen__nav button:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.owl-dot.active .first-screen__number {
  color: #FCD54C;
}

.header {
  margin: 19px 0 26px 0;
}

.navbar {
  border-left: 2px solid #FCD54C;
  min-height: 63px;
  position: relative;
  padding: 13px 0 13px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar:before {
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid #FCD54C;
  width: 40px;
  content: "";
}
.navbar:after {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #FCD54C;
  width: 40px;
  content: "";
}
.navbar-brand {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
}
.navbar-brand__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
.navbar-brand__subtitle {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  opacity: 0.6;
}
.navbar-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.3%;
}
.navbar-menu__item {
  margin-right: 40px;
}
.navbar-menu__item:last-child {
  margin-right: 0;
}
.navbar-menu__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}
.navbar-menu__link:hover {
  color: #FCD54C;
}
.navbar-menu--right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.3%;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}
.dropdown.show .dropdown-menu {
  display: block;
}
.dropdown.show .dropdown-btn:after {
  transform: rotate(180deg);
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translateY(25px);
  animation: dropdown 0.5s;
  border: 1px solid #979797;
  background: #272727;
  width: 247px;
}
.dropdown-btn:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #fff;
  transition: transform 0.5s;
}
.dropdown-item {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  transition: background 0.1s;
}
.dropdown-item:hover {
  background: #FCD54C;
}
.dropdown-item:hover .dropdown-link {
  color: #272727;
}
.dropdown-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  transition: color 0.1s;
}

.language {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
  margin-right: 8px;
}
.language:last-child {
  margin-right: 0;
}
.language:hover {
  color: #FCD54C;
}

.phone {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
